.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);

  outline: 0;
  max-width: 370px;
}
.input1 {
  border-radius: 0px;
}
.tx-tfm {
  text-transform: uppercase;
}
.mybtn {
  border-radius: 0px;
  background-color: #ff674f;
  border-color: transparent;
  margin-bottom: 30px;
}

.mybtn:hover {
  border-radius: 0px;
  background-color: #ff674f;
  border-color: transparent;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

form .error {
  color: #ff0000;
}
#second {
  display: none;
}
